aside{
    background-color: bisque;

    .productooaside{
    flex-basis: 30%;
}
}
.productos img{
    width: 500px;
    transition: 0.5s all ease-in-out;
    border-style: groove;
    
}

.mainproductos{
    align-items: center;
    width: 70%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cuotasproducto{
    border-style: solid;
    display: flex;
    border-color: dimgrey;
    margin: 15%;
    background-color: map-get($colores , coloralternativo );
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}